.formation
    display flex
    flex-wrap wrap
    justify-content center
    align-items: center
    margin-bottom: 65px
    margin-top: 50px
   
    h2
        width 90%
        color black
        padding 10px
        background rgba(33, 187, 239, 40%)
        margin 20px
        text-align center
        font-weight 700
        border-radius 10px
        font-size 18px
    p
        width 90%
        font-width 700

    .content-activity
        .v-card
            height 160px
            display flex
            flex-wrap wrap
            justify-content center
            align-items center
            h3
                padding-bottom 10px
                z-index 100000
                padding 20px
            .vectorMetier
                position absolute
                left -36px
                bottom -30px
                z-index 0
                @media screen and (min-width: 1025px)
                    width: 100px
                    left -50px
                    bottom -40px

            p
                padding-top 20px
