letterRadius = 10px

random()
    return math(math(0, 'random') * 50 + 1, 'floor')

.letter-container
    display flex
    flex-wrap wrap
    justify-content center
    width 100%

    .letter
        display flex
        align-items center
        width 90%

        &-content
            color black
            text-decoration: none
            background #C1ECFB
            width 90%
            margin 10px
            display flex
            align-items center
            position relative
            border-radius letterRadius
            max-height 50px
            height auto

            &-deco
                position: absolute
                background #1b89b1
                width 10%
                height 100%
                border-top-left-radius letterRadius
                border-bottom-left-radius letterRadius
                border-top-right-radius random()px
                border-bottom-right-radius random()px

            img 
                width 100%
                height auto
                object-fit contain
                position absolute

            .vector1
                width 53%
                left -62px
                top -62px

            .vector2
                width 61%
                left -81px
                top -137px
            .vector3
                width 53%
                left -62px
                top -62px

        &-delete
            background red
            cursor pointer
            padding 10px
            border-radius: 10px
            color white
            font-size: 15px
            font-weight: bold

        &-loader
            display flex
            justify-content center
            align-items center
    
    // .letter 
    //     width 90%
    //     background #C1ECFB
    //     margin 10px
    //     border-radius 10px
    //     height auto   
    //     min-height 50px
    //     display flex
    //     flex-wrap wrap
    //     aling-items center
    //     overflow hidden
    //     color black
    //     text-decoration none
    //     position relative
    //     box-shadow 0px 4px 4px rgba(0, 0, 0, 0.25)

    //     input[type="radio" i] 
    //         background red !important
    //         appareance none !important
    //         border solid 3px white !important
    //         color none !important
    //         width 20px
    //         height 20px
    //         border-radius 20px
    //         position absolute
    //         left 2px
    //         top 10px
    //         z-index 100000 !important


    //     p 
    //         margin 0
    //         padding 0 
    //         width 80%
    //         display flex
    //         align-items center
    //         padding-left 50px
    //     img 
    //         width 100%
    //         height auto
    //         object-fit contain
    //         position absolute

    //     .vector1
    //         width 53%
    //         left -62px
    //         top -62px

    //     .vector2
    //         width 61%
    //         left -81px
    //         top -137px
    //     .vector3
    //         width 53%
    //         left -62px
    //         top -62px
