v-btn-nav()
    width: 80%
    background #C1ECFB
    border-radius 50px
    padding 15px 40px
    margin 10px
    border none
    color #21BBEF
    font-size 18px
    text-decoration: none

.v-btn-container
    display: flex
    flex-direction: column
    justify-content center
    align-items center

    .v-btn-nav
        v-btn-nav()

.v-btn-nav
    v-btn-nav()